@import url(https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&display=swap);


.app {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body{
  background-size: cover;
  background-image: url('https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/195ac4c4bd2345669c6fbd0f1d186c09')

}

h1 {
  font-family: Merienda, sans-serif;
  text-align: center;
  font-size: 40px;
  width: 100%;
}
h2 {
  text-align: center;
}
h3 {
  display: inline-block;
}

.form {
  padding: 200px;
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 10px;

  /* height: 500px;
  width: 100%; */
  /* background-size: cover; */
  /* background-image: url('https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/195ac4c4bd2345669c6fbd0f1d186c09') */
}
input{
  border-style: none;
  padding: 4px;

}

.saved {
  border-radius: 10px;
  background-color: white;
  margin: 30px;
}

.sun-cards {
  border-radius: 10px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
}
.sun-cards > img {
  width: 45%;
  margin: 1rem;
  height: auto;
  border-radius: 5px;
  order: -1;
}